---
# tasks file for borgmatic
- name: Perform variable checks
  ansible.builtin.include_tasks: check.yml

- name: Copy config to effective config map for further modification
  set_fact:
    _borgmatic_effective_config: "{{ borgmatic_config }}"

- name: Borg and borgmatic are installed
  ansible.builtin.package:
    name:
      - borgmatic
      - borgbackup
  when: borgmatic_install

- name: Configure Borgmatic
  block:
    - name: Borgmatic config path is present
      file:
        path: "{{ borgmatic_config_path }}"
        state: directory
        mode: "750"
        owner: root
        group: root

    - name: Configure SSH
      ansible.builtin.include_tasks: config_ssh.yml

    - name: Config is installed
      template:
        src: config.yaml.j2
        dest: "{{ borgmatic_config_path }}/config.yaml"
        owner: root
        group: root
        mode: "640"
      when: borgmatic_manage_config

    - name: Initialize repos
      command: "borgmatic init --encryption {{ borgmatic_init_encryption }}"
      register: _borgmatic_init_command
      changed_when: _borgmatic_init_command.stdout | length > 0
      when: borgmatic_init_repos

    - name: Create Schedule
      ansible.builtin.include_tasks: config_schedule.yml
      when: borgmatic_manage_schedule
  when: borgmatic_setup_backup

- name: Run backup job
  systemd:
    name: borgmatic.service
    state: started
    no_block: "{{ borgmatic_run_backup_no_block }}"
  when: borgmatic_run_backup
  tags:
    - molecule-idempotence-notest
